---
import Layout from "../layouts/Layout.astro";
import BlogContent from "../components/BlogContent.astro";
import { getAllPosts, getBlogBySlug } from "../services/notion";

// Get static paths for all blog posts
export async function getStaticPaths() {
  const posts = await getAllPosts();
  const mappedPosts = await Promise.all(
    posts.map(async (post) => {
      const fullPost = await getBlogBySlug(post.slug);
      return {
        params: { slug: post.slug },
        props: { post: fullPost },
      };
    })
  );
  return mappedPosts;
}

// Get the post data from props
const { post } = Astro.props;

if (!post) {
  Astro.redirect("/404");
}

// Get metadata for the page
// const tags = post?.tags?.map((item) => item.name) || [];
// const title = `${post.title} | Manuscript AI`;
// const ogImage = post.feature_image ?? null;
---

<Layout>
  <main class="container mx-auto px-4 py-8">
    {post ? <BlogContent post={post} /> : <p>Post not found.</p>}
  </main>
</Layout>
