---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="py-8 px-16 flex flex-col gap-1">
    <h1 class="text-4xl font-bold">Return and Refund Policy</h1>
    <p>Last updated: September 27, 2024</p>
    <p>Thank you for shopping at Manuscript AI.</p>
    <p>
      If, for any reason, You are not completely satisfied with a purchase We
      invite You to review our policy on refunds and returns.
    </p>
    <p>
      The following terms are applicable for any products that You purchased
      with Us.
    </p>

    <h1>Refunds / Returns</h1>
    <p> All sales are final and no refunds will be issued. </p>
    <h2>Contact Us</h2>
    <p>
      If you have any questions about our Returns and Refunds Policy, please
      contact us:
    </p>
    <ul class="list-disc list-inside">
      <li>
        By visiting this page on our website:{" "}
        <a
          href="http://www.manuscriptai.co/contact-us"
          rel="external nofollow noopener"
          target="_blank">
          http://www.manuscriptai.co/contact-us
        </a>
      </li>
    </ul>
  </div>
</Layout>
