---
import Analytics from "../components/Analytics.astro";
import Footer from "../components/Footer.astro";
import Nav from "../components/Nav";
import { getWebsite } from "../services/website";

const website = await getWebsite();

interface Props {
  title?: string;
  description?: string;
  ogImage?: string;
}

const { title, description, ogImage } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title || website.websiteContent.about.websiteName}</title>
  </head>
  <body>
    <Analytics website={website} />
    <Nav
      client:load
      websiteContent={JSON.parse(JSON.stringify(website.websiteContent))}
    />
    <slot />
    <Footer website={website} />
  </body>

  <style>
    html,
    body {
      margin: 0;
      width: 100%;
      height: 100%;
    }
  </style>
</html>
